body {
    font-family: Arial, sans-serif;
    background-color: #E8CEB0
}
.infos {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    background: #F8EDDE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.infos ul {
    list-style: none;
    padding: 0;
}
.infos li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}
.infos p {
    font-size: 18px;
    margin-top: 15px;
}

.logo {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}